---
layout: default
---          


<!-- Slider Start -->
<section id="slider">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-md">
          <div class="block">
            <h1 class="animated fadeInUp"> {{ site.data.general.name }} </h1>
            <p><hr></p>
            <p class="animated fadeInUp">  {{ site.data.general.title[page.lang] }}  </p>
          </div>
        </div>
      </div>
    </div>	
  </section>
  
  <!-- Wrapper Start -->
  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-12">
          <div class="block">
            <div class="section-title">
            </div>
              <p>{{ site.data.general.aboutme[page.lang] }} </p>
          </div>
        </div><!-- .col-md-7 close -->
        <div class="col-md-5 col-sm-12">
          <div class="block">
            <img src="/img/elisa.png" alt="Img">
          </div>
        </div><!-- .col-md-5 close -->
      </div>
    </div>
  </section>
  
  <!-- Service Start -->
  <section id="service">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2>{{ site.data.general.services_title[page.lang] }}</h2>
          <p>{{ site.data.general.services[page.lang] }}</p>
        </div>
      </div>
      <div class="row ">
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-certificate"></i>
            <h4> {{ site.data.general.certified_translation[page.lang].title }}</h4>
            <p> {{ site.data.general.certified_translation[page.lang].desc }} </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-language"></i>
             <h4> {{ site.data.general.translation[page.lang].title }} </h4>
            <p> {{ site.data.general.translation[page.lang].desc }} </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-check-square-o"></i>
            <h4> {{ site.data.general.proofreading[page.lang].title }} </h4>
            <p> {{ site.data.general.proofreading[page.lang].desc }} </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-pencil-square-o"></i>
            <h4> {{ site.data.general.editing[page.lang].title }} </h4>
            <p> {{ site.data.general.editing[page.lang].desc }} </p>
          </div>
        </div>
      </div>
    </div>
  </section>