---
layout: default
---          


<!-- Slider Start -->
<section id="slider">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-md">
          <div class="block">
            <h1 class="animated fadeInUp"> {{ site.data.general.title[page.lang] }} </h1>
            <p><hr></p>
            <p class="animated fadeInUp"> {{ site.data.general.name }} </p>
          </div>
        </div>
      </div>
    </div>	
  </section>
  
  <!-- Wrapper Start -->
  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-12">
          <div class="block">
            <div class="section-title">
            </div>
              <p>{{ site.data.general.aboutme[page.lang] }} </p>
          </div>
        </div><!-- .col-md-7 close -->
        <div class="col-md-5 col-sm-12">
          <div class="block">
            <img src="/img/elisa.png" alt="{{ site.data.general.name }} - {{ site.data.general.title[page.lang] }}">
          </div>
        </div><!-- .col-md-5 close -->
      </div>
    </div>
  </section>
  
  <!-- Service Start -->
  <section id="service">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2>{{ site.data.general.services_title[page.lang] }}</h2>
          <p>{{ site.data.general.services[page.lang] }}</p>
        </div>
      </div>

      <div class="row ">
        <!-- Certified translation -->
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-certificate"></i>
            <h2> {{ site.data.general.certified_translation[page.lang].title }}</h2>
            <p> {{ site.data.general.certified_translation[page.lang].desc }} </p>
          </div>
        </div>
        <!-- Translation services -->
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-language"></i>
             <h2> {{ site.data.general.translation[page.lang].title }} </h2>
            <p> {{ site.data.general.translation[page.lang].desc }} </p>
          </div>
        </div>
        <!-- Proofreading services -->
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-check-square-o"></i>
            <h2> {{ site.data.general.proofreading[page.lang].title }} </h2>
            <p> {{ site.data.general.proofreading[page.lang].desc }} </p>
          </div>
        </div>
        <!-- Editing services -->
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-pencil-square-o"></i>
            <h2> {{ site.data.general.editing[page.lang].title }} </h2>
            <p> {{ site.data.general.editing[page.lang].desc }} </p>
          </div>
        </div>
      </div>
    </div>
  </section>


<!--FAQ section-->
<section>
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>FAQs</h2>
      </div>
    </div>
    <!-- TOC -->
    <div class="row">
      <div class="col-md-12">
        <ol class="faq-toc">
          {% for item in site.data.faq %}
            <li><a href="#{{ item.id }}">{{ item.question[page.lang] }}</a></li>
          {% endfor %}
        </ol>
      </div>
    </div>

    {% for item in site.data.faq %}
    <div class="row" id="{{ item.id }}">
      <div class="col-md-12">
        <div class="faq-question"><h2>{{ item.question[page.lang] }}</h2></div>
        <div class="faq-answer"><p>{{ item.answer[page.lang] | markdownify }}</p></div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
