---
layout: default
---          

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="animated fadeInUp title">{{ site.data.general.title[page.lang] }}</h1>
          <p><hr></p>
          <p class="animated fadeInUp subtitle">{{ site.data.general.name }}</p>
          <p class="animated fadeInUp contact-info">{{ site.data.general.phone }} &#183; {{ site.data.general.email }}</p>
        </div>
      </div>
    </div>
  </div>	
</section>

  
  <!-- Intro -->
  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
            <p>{{ site.data.general.aboutme[page.lang] }} </p>
        </div>
        <div class="col-md-5 col-sm-12 text-center">
            <img src="/img/elisa.png" alt="{{ site.data.general.name }} - {{ site.data.general.title[page.lang] }}">
        </div>
      </div>
    </div>
  </section>


<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>{{ site.data.general.services_title[page.lang] }}</h2>
      </div>
      <div class="service-call-to-action">
        <p>{{ site.data.general.services[page.lang] }}</p>
      </div>
    </div>

    {% for service in site.data.general.services_list %}
    <div class="service-row">
    <div class="row mb-4"> 
        <div class="col-md-2 d-flex justify-content-center">
          <i class="{{ service.icon }}" style="font-size: 4rem; padding-bottom: 10px;"></i>
        </div>
        <div class="col-md-10">
          <div class="service-item">
            <h2>{{ service.title[page.lang] }}</h2>
            <p>{{ service.desc[page.lang] }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<!-- Service End -->

<!--FAQ section-->
<section>
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>FAQs</h2>
      </div>
    </div>
    {% for item in site.data.faq %}
    <div class="row">
      <div class="col-md-12">
        <div class="faq-question faq-box" id="{{ item.id }}">
          <div class="d-flex justify-content-between align-items-center">
            <h2>{{ item.question[page.lang] }}</h2>
            <span class="faq-icon">+</span>
          </div>
        </div>
        <div class="faq-answer faq-box" style="display: none;">
          <p>{{ item.answer[page.lang] | markdownify }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<!-- FAQ End -->

<section id="testimonial">
  <div class="container">
    
    <div class="row">
      <div class="section-title">
        <h2>{{site.data.testimonials.testimonials_title[page.lang] }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for testimonial in site.data.testimonials.testimonials_comments %}
            <div>
              <img src="/img/cotation.png" alt="IMG">
              <p>{{ testimonial.comment }}</p>
              <div class="user">
                <p><span>{{ testimonial.name }}</span>{{ testimonial.position }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--jQueries used in this page-->
<script>
  $(document).ready(function() {
    $(".faq-question").click(function() {
      $(this).next(".faq-answer").slideToggle("slow");

      const id = $(this).attr("id");
      toggleAnswer(id);
    });
  });

  function toggleAnswer(id) {
    let symbol = $("#" + id + " .faq-icon");
    if (symbol.text() === '+') {
      symbol.text('-');
    } else {
      symbol.text('+');
    }
  }
</script>
<!-- End jQueries -->